#!/bin/sh
#this file belongs at rootfs/data/config
data_dir=/home/ted/Documents/csclub #no trailing slash
wait_mins=0 #between submissions
ulimit_args=(-d1024 -f1 -i5 -m$[256*1024] -n11 -q0 -t1 -v$[320*1024] -x0)
compile_ulimit_args=(-m$[256*1024] -t30 -v$[320*1024])
taskset=
wall_secs=1
user_conf=users
score_cmd=rootfs/build/score
#interactive=y #if set, judge_file will be linked to rootfs/data/judge
judge_file=judge
#score_cmd=(/bin/sh -c 'cat "$2"') for interactive
#problem_pref=/first/input-small.txt,/first/input-large.txt
#load other configfiles
if [ -n "$1" ]
then
	conf="$data_dir${1%/*}/config"
	[ -e "$conf" ] && . "$conf"
	tconf="$data_dir$(sed 's/\(.*\)\binput\b/\1config/' <<< "$1")"
	[ -e "$tconf" ] && . "$tconf"
fi
